{% extends 'base.html' %}

{% block title %}About Us{% endblock %}
{% block header %}About Us{% endblock %}

{% block content %}
        <!-- about part here -->
        <section class="about_part section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="about_tittle">
                            <p>We are an innovative company looking to provide the highest quality products and customer
                            experience to Pakistanis in the online shopping market. Our competitive prices and great user
                            experience is something that distinguishes us from other companies within our market.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="single_about_part">
                            <img src="{{ url_for('static', filename='img/about_img_1.png') }}" alt="#">
                            <h4>About Company</h4>
                            <p>This is just a web project though.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_about_part">
                            <img src="{{ url_for('static', filename='img/about_img_2.png') }}" alt="#">
                            <h4>Philosophy</h4>
                            <p>Make a good web project</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about part end -->

        <!-- free shipping here -->
        <section class="shipping_details section_padding border_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_shopping_details">
                            <img src="{{ url_for('static', filename='img/icon/icon_1.png') }}" alt="">
                            <h4>Free shipping</h4>
                            <p>Divided face for bearing the divide unto seed winged divided light Forth.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_shopping_details">
                            <img src="{{ url_for('static', filename='img/icon/icon_2.png') }}" alt="">
                            <h4>Free shipping</h4>
                            <p>Divided face for bearing the divide unto seed winged divided light Forth.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_shopping_details">
                            <img src="{{ url_for('static', filename='img/icon/icon_3.png') }}" alt="">
                            <h4>Free shipping</h4>
                            <p>Divided face for bearing the divide unto seed winged divided light Forth.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_shopping_details">
                            <img src="{{ url_for('static', filename='img/icon/icon_4.png') }}" alt="">
                            <h4>Free shipping</h4>
                            <p>Divided face for bearing the divide unto seed winged divided light Forth.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- free shipping end -->
        {% endblock %}