{% extends 'browsing_template.html' %}

{% block title %}Admin{% endblock %}

{% block add_item_button %}
<!--::add_new_item part start::-->
<div id="add-new-item-overlay">
    <div id="add-new-item-form-container" >
        <h3 id="add-new-item-form-title">Add new Item</h3>
        <img src="{{url_for('static', filename='img/close.png')}}" width="25px" height="25px" style="margin: 7px; float: right" onclick="toggleOverlay()"/>
        <form onsubmit="checkForm()" enctype="multipart/form-data" action="" method="post" id="add-new-item-form">

            <label for="title" class="labels">Title: </label>
            <input type="text" id="title" name="title" class="inputs"/>
            <br />
            <label for="color" class="labels">Color: </label>
            <select id="color" name="color" class="inputs" >
                <option value="">-- Select color --</option>
                {% for color in lists['colors'] %}
                <option value="{{ color }}">{{ color.capitalize() }}</option>
                {% endfor %}
            </select>
            <br />
            <label for="quantity" class="labels">Quantity: </label>
            <input type="number" id="quantity" name="quantity" class="inputs"/>
            <br />
            <label for="gender" class="labels">Gender: </label>
            <select id="gender" name="gender" class="inputs" >
                <option value="">-- Select gender --</option>
                {% for gender in lists['genders'] %}
                <option value="{{ gender }}">{{ gender.capitalize() }}</option>
                {% endfor %}
            </select>
            <br />
            <label for="category" class="labels">Category</label>
            <select id="category" name="category" class="inputs" >
                <option value="">-- Select category --</option>
                {% for category in lists['all_categories'] %}
                <option value="{{ category }}">{{ category.capitalize() }}</option>
                {% endfor %}
            </select>
            <br />
            <label for="price" class="labels">Price: </label>
            <input type="number" id="price" name="price" class="inputs" />
            <br />
            <label for="manufacturer" class="labels">Manufacturer: </label>
            <input type="text" id="manufacturer" name="manufacturer" class="inputs" />
            <br />
            <label for="picture" class="labels">Picture: </label>
            <input type="file" id="picture" name="picture" class="inputs" />
            <br />
            <input type="submit" id="submit" name="submit"  value="submit"/>
            <br />
        </form>
        <span id="error" style="color: red"></span>
    </div>
</div>
<span onclick="changeFormToAdd(); toggleOverlay()" class="float">
        <i class="fa fa-plus my-float"></i>
    </span>
<!--::add_new_item part end::-->
{% endblock %}

{% block item_view %}

        {% for item in items %}
        <div class="col-lg-4 col-sm-6 animated fadeInUp">
            <div class="single_category_product">
                <div class="single_category_img">
                    <img src="{{ url_for('static', filename='img/items/'+item.serial+'.png') }}" alt="">
                    <div class="category_social_icon">
                        <ul>
                            <li><a href="#" onclick="changeFormToEdit('{{ item.serial }}', '{{ item.title }}', '{{ item.color }}',
                                    '{{ item.quantity }}', '{{ item.gender }}', '{{ item.category }}', '{{ item.price }}', '{{ item.manufacturer }}');
                                    toggleOverlay();"><i class="ti-menu-alt"></i></a></li>
                            <li><a href="/delete/{{item.serial}}" style="background-color: red"><i class="ti-close"></i></a></li>
                        </ul>
                    </div>
                    <div class="category_product_text">
                        <a href="single-product.html"><h5>{{ item.title }}</h5></a>
                        <p>Rs. {{ item.price }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}

{% block scripts %}
<script>
    let overlayOn = false;

    function toggleOverlay() {
        if (overlayOn) {
            $("#add-new-item-overlay").css("display", "none");
        } else {
            $("#add-new-item-overlay").css("display", "block");
        }
        overlayOn = !overlayOn
    }

    function changeFormToEdit(serial, title, color, quantity, gender, category, price, manufacturer) {
        $("#add-new-item-form").attr("action", "/edit_item/"+serial);
        $("#add-new-item-form-title").html("Edit Item No." + serial);

        $("#title").val(title);
        $("#color").val(color);
        $("#quantity").val(quantity);
        $("#gender").val(gender);
        $("#category").val(category);
        $("#price").val(price);
        $("#manufacturer").val(manufacturer);

    }
    function changeFormToAdd() {
        $("#add-new-item-form").attr("action", "/add_item");
        $("#add-new-item-form-title").html("Add new item");

        $(".inputs").each(function () {
            $(this).val("");
        });
    }

    function runCriteriaChange() {
        let color = $("input[name='color-select']:checked").val();
        let to_show = $("#to-show").val();
        let start_amount = $("#start-amount").val();
        let end_amount = $("#end-amount").val();
        let sort_by = $("#sort-by").val();

        window.location.replace(`/admin/{{gender_main}}/{{category_main}}/1?color=${color}&show=${to_show}&start_amount=${start_amount}&end_amount=${end_amount}&sort_by=${sort_by}`);
    }

    function changePage() {
        let color = $("input[name='color-select']:checked").val();
        let to_show = $("#to-show").val();
        let page_no = $("#page-no").val();
        let start_amount = $("#start-amount").val();
        let end_amount = $("#end-amount").val();
        let sort_by = $("#sort-by").val();

        window.location.replace(`/admin/{{gender_main}}/{{category_main}}/${page_no}?color=${color}&show=${to_show}&start_amount=${start_amount}&end_amount=${end_amount}&sort_by=${sort_by}`);
    }
</script>

{% endblock %}
