<html>
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}" ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}" />
    <title>Admin Page</title>


<script>
        var overlayOn = false;

        function checkForm() {
            if ($("#quantity").val() < 1) {
                $("#error").html("Quantity cannot be less than 1");
            }
        }

        function toggleOverlay() {
            if (overlayOn) {
                $("#add-item-overlay").css("display", "none");
            } else {
                $("#add-item-overlay").css("display", "block");
            }
            overlayOn = !overlayOn
        }
</script>
</head>

<body>
    <div id="header">
        <h1 align="center">Admin | Add item</h1>
    </div>
    <button id="add-item-button" onclick="toggleOverlay()"></button>
    {% for item in items %}
  <!--  <div style='background-image: url("{{ url_for(\"static\", filename=\"images/\")}}")'>

    </div>-->
    {% endfor %}
    <div id="add-item-overlay">
        <form enctype="multipart/form-data" action="/admin_add_item" method="post" id="add-new-item-form">
            <div><img src="{{url_for('static', filename='images/close.png')}}" width="10%" height="10%" style="float: right" onclick="toggleOverlay()"/></div>
            <label for="title" class="labels">Title: </label>
            <input type="text" id="title" name="title" class="inputs"/>
            <br />
            <label for="color" class="labels">Color: </label>
            <input type="text" id="color" name="color" class="inputs" />
            <br />
            <label for="quantity" class="labels">Quantity: </label>
            <input type="number" id="quantity" name="quantity" class="inputs" onblur="checkForm()"/>
            <br />
            <label for="gender" class="labels">Gender: </label>
            <select id="gender" name="gender" class="inputs" >
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <br />
            <label for="category" class="labels">Category</label>
            <select id="category" name="category" class="inputs" >
                <option value="shirts">Shirts</option>
                <option value="shoes">Shoes</option>
            </select>
            <br />
            <label for="price" class="labels">Price: </label>
            <input type="number" id="price" name="price" class="inputs" />
            <br />
            <label for="manufacturer" class="labels">Manufacturer: </label>
            <input type="text" id="manufacturer" name="manufacturer" class="inputs" />
            <br />
            <label for="picture" class="labels">Picture: </label>
            <input type="file" id="picture" name="picture" class="inputs" />
            <br />
            <input type="submit" id="submit" name="submit" class="inputs" />
            <br />
            <span id="error">Qwww</span>
        </form>
    </div>
</body>

</html>