<html>
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}" ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}" />
    <title>Admin Page</title>



</head>

<body>
    <div id="header">
        <h1 align="center">Admin | Add item</h1>
    </div>
    <button id="add-item-button" onclick="toggleOverlay()"></button>
    {% for item in items %}
  <!--  <div style='background-image: url("{{ url_for(\"static\", filename=\"images/\")}}")'>

    </div>-->
    {% endfor %}

</body>

</html>