{% extends 'base.html' %}

{% block title %}Your Cart{% endblock %}
{% block header %}Cart{% endblock %}


{% block content %}
  <!--================Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">

          <table class="table">
            <thead>
              <tr style="font-size:200%;color:red;">
                <th scope="col" style="font-size:100%;color:blue;">Product</th>
                <th scope="col" style="font-size:100%;color:blue;">Price</th>
                <th scope="col" style="font-size:100%;color:blue;">color</th>
                <th scope="col" style="font-size:100%;color:blue;">category</th>
                <th scope="col" style="font-size:100%;color:blue;">Quantity</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                   {% for x in item %}
              <tr>
                <td>
                        <h5>{{x.title}}</h5>
                </td>
                <td>
                  <h5>Rs. {{x.price}}</h5>
                </td>
                <td>
                      <h5>{{x.color}}</h5>
                </td>
                <td>
                  <h5>{{x.category}}</h5>
                </td>
                <td>
                   <h5>1 item</h5>
                </td>
              </tr>
            {% endfor %}
             <tr class="shipping_area">
               <td></td>
               <td></td>
               <td></td>



                <td>
                <td>
                  <div class="shipping_box">
                    <ul class="list">
                    </ul>

                    <br>
                    <br>

                    <a class="btn_1" href="{{ url_for('checkout') }}">Proceed to Checkout</a>
                  </div>

             </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!--================End Cart Area =================-->
{% endblock %}