{% extends 'base.html' %}

{% block title %}{{ category_main.capitalize() }} / {{ gender_main.capitalize() }}{% endblock %}
{% block header %}Categories{% endblock %}


{% block content %}

    <!--================Category Product Area =================-->
<section class="cat_product_area section_padding border_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
                        <div class="l_w_title">
                            <h3>Browse Categories</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li>
                                    <a href="/{{page_name}}/{{gender_main}}/all">All Categories</a>
                                </li>
                                {% for category in lists[gender_main+'_categories'] %}
                                <li>
                                    <a href="/{{page_name}}/{{gender_main}}/{{category}}">{{category.capitalize()}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </aside>

                    <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
                        <div class="l_w_title">
                            <h3>Product filters</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <p>color</p>
                                <input type="radio" style= "display: none" name="color-select" aria-label="Radio button for following text input" checked value="%">
                                {% for color_ in lists['colors'] %}
                                <li>
                                    <input type="radio" name="color-select" aria-label="Radio button for following text input"
                                           onclick="runCriteriaChange()"
                                           {{ 'checked' if request.args.get('color') == color_ }} value="{{ color_ }}">
                                    <span>{{ color_.capitalize() }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </aside>

                    <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                        <div class="l_w_title">
                            <h3>Price Filter</h3>
                        </div>
                        <div class="widgets_inner">
                            <div class="range_item">
                                <!-- <div id="slider-range"></div> -->
                                <input type="text" class="js-range-slider" value="" />
                                <div class="d-flex align-items-center">
                                    <div class="price_text">
                                        <p>Price :</p>
                                    </div>
                                    <div class="price_value d-flex justify-content-center">
                                        <input type="text" class="js-input-from" style="max-width: 55px" id="start-amount" readonly />
                                        <span>to</span>
                                        <input type="text" class="js-input-to" style="max-width: 55px" on id="end-amount" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product_top_bar d-flex justify-content-between align-items-center">
                            <div class="single_product_menu product_bar_item">
                                <h2>{{gender_main.capitalize()}} / {{category_main.capitalize()}}</h2>
                            </div>
                            <div class="product_top_bar_iner product_bar_item d-flex">
                                <div class="product_bar_single">
                                    <select class="wide" name="sort-by" id="sort-by" onchange="runCriteriaChange()">
                                        <option value="new" {{ 'selected' if sort_by == 'date_added DESC' }}>Newest</option>
                                        <option value="a-z" {{ 'selected' if sort_by == 'title ASC' }}>Ascending (A-Z)</option>
                                        <option value="z-a" {{ 'selected' if sort_by == 'title DESC' }}>Descending (Z-A)</option>
                                        <option value="low-high" {{ 'selected' if sort_by == 'price ASC' }}>Price: Low to High</option>
                                        <option value="high-low" {{ 'selected' if sort_by == 'price DESC' }}>Price: High to Low</option>
                                    </select>
                                </div>
                                <div class="product_bar_single">
                                    <select onchange="runCriteriaChange()" id="to-show" >
                                        <option value="12" {{ 'selected' if show == 12 }}>Show 12</option>
                                        <option value="20" {{ 'selected' if show == 20}}>Show 20</option>
                                        <option value="30" {{' selected' if show == 30}}>Show 30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
    {% if items|length != 0 %}
        <!-- Single item being viewed -->

        {% for item in items %}
        <div class="col-lg-4 col-sm-6 animated fadeInUp">
            <div class="single_category_product">
                <div class="single_category_img">
                    <a href="{{ url_for('detail', serial=item.serial) }}">
                        <img src="{{ url_for('static', filename='img/items/'+item.serial+'.png') }}" alt="">
                    </a>
                    <div class="category_social_icon">
                        <ul>
                            <li><a href="{{ url_for('during_detail', serial=item.serial) }}"><i class="ti-shopping-cart-full"></i></a></li>
                        </ul>
                    </div>
                    <div class="category_product_text">
                        <a href="single-product.html"><h5>{{ item.title }}</h5></a>
                        <p>Rs. {{ item.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
     {% else %}
        <h2 style="
            margin: auto;
            font-weight: 100;
            margin-bottom: 100;
        ">No items.</h2>
    {% endif %}
                    <div class="col-lg-12 text-center">
                        <i class="ti-angle-left page-arrow"></i>
                        <select  style="vertical-align: super" onchange="changePage()" id="page-no">
                            {% for i in range(1, pages+1) %}
                            <option value="{{ i }}" {{ 'selected' if page_no_main == i else '' }}>{{ i }}</option>
                            {% endfor %}
                        </select>
                        <i class="ti-angle-right page-arrow"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <script>
    function changePage() {
        let color = $("input[name='color-select']:checked").val();
        let to_show = $("#to-show").val();
        let page_no = $("#page-no").val();
        let start_amount = $("#start-amount").val();
        let end_amount = $("#end-amount").val();
        let sort_by = $("#sort-by").val();

        window.location.replace(`/admin/{{gender_main}}/{{category_main}}/${page_no}?color=${color}&show=${to_show}&start_amount=${start_amount}&end_amount=${end_amount}&sort_by=${sort_by}`);
    }
    function runCriteriaChange() {
        let color = $("input[name='color-select']:checked").val();
        let to_show = $("#to-show").val();
        let start_amount = $("#start-amount").val();
        let end_amount = $("#end-amount").val();
        let sort_by = $("#sort-by").val();

        window.location.replace(`/{{page_name}}/{{gender_main}}/{{category_main}}/1?color=${color}&show=${to_show}&start_amount=${start_amount}&end_amount=${end_amount}&sort_by=${sort_by}`);
    }
</script>

    <!-- add-new-item form -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/browsing_template.css') }}">
{% endblock %}

