{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}
{% block header %}Checkout{% endblock %}

{% block content %}
    <!--================Checkout Area =================-->
  <section class="checkout_area section_padding">
    <div class="container">
      <div class="billing_details">

        <form class="row contact_form" action="/checkout" method="post" novalidate="novalidate">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" placeholder="First name" id="first" name="firstname" />
              </div>
              <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" placeholder="Last name"id="last" name="lastname" />
              </div>
              <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="company" name="company" placeholder="Company name" />
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" placeholder="Phone number" id="number" name="number" />
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" placeholder="Email Address" id="email" name="email" />
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="add1" placeholder="Address line 01" name="add1" />
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="add2" placeholder="Address line 02" name="add2" />
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" placeholder="Town/City" id="city" name="city" />
              </div>
              <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP" />
              </div>
              <div class="col-md-12 form-group">
                <textarea class="form-control" name="message" id="message" rows="1"
                  placeholder="Order Notes"></textarea>
              </div>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li>
                  {% for cart_item in cart_items %}
                <li>
                  <a href="#">{{ cart_item.title }}
                    <span class="last">Rs.{{ cart_item.price }}</span>
                  </a>
                </li>
                  {% endfor %}
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Total
                    <span>$2210.00</span>
                  </a>
                </li>
              </ul>
              <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option5" name="payment" />
                  <label for="f-option5">Cash</label>
                  <div class="check"></div>
                </div>
              </div>
              <div class="payment_item active">
                <div class="radion_btn">
                  <input type="radio" id="f-option6" name="payment" />
                  <label for="f-option6">Paypal </label>
                  <img src="{{ url_for('static', filename='img/product/single-product/card.jpg') }}" alt="" />
                  <div class="check"></div>
                </div>
              </div>
              <div class="creat_account">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>
              </div>
              <input type="submit" class="btn_3" value="Proceed">
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->
{% endblock %}