<html>
    <head>
        <title>Login/Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

       <!-- <link rel="stylesheet" href="style.css">-->
       <!-- <link rel="stylesheet" href="login.css">-->
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/style.css') }}">

        <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

      <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </head>
  
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">
                  <!--<img class="logo" alt="Brand" src="../static/css/logo2.png">-->

                    <img class="logo" alt="logo" src="{{ url_for('static', filename='download.jpg') }}">
                </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
            
            </div><!-- /.container-fluid -->
        </nav>
        <br><br><br>

        <div class="form">
      
                <ul class="tab-group">
                  <li class="tab active"><a href="#signup">Sign Up</a></li>
                  <li class="tab"><a href="#login">Log In</a></li>
                </ul>
                
                <div class="tab-content">
                  <div id="signup">   
                    <h1 class="heading">Sign Up for Free</h1>
                  </div>
                </div>

                    <form action="/signup" method="POST">
                    <div class="top-row">
                      <div class="field-wrap">
                        <label>
                          First Name<span class="req">*</span>
                        </label>
                        <input type="text" name ="fname" required  />
                      </div>
                    <div class="field-wrap">
                      <label>
                        Set A Password<span class="req">*</span>
                      </label>
                      <input type="password" name="password" required />
                    </div>
                    
                    <button type="submit" class="button button-block"/>Sign up</button>

                  </div>
                    </form>
                  <div id="login">   
                    <h1 class="heading">Welcome Back!</h1>
                    
                    <form action="/login" method="POST">
                    
                    <div class="field-wrap">
                      <label>
                        Password<span class="req">*</span>
                      </label>
                      <input name="password" type="password"required />
                    </div>
                    
                    <p class="forgot"><a href="#">Forgot Password?</a></p>
                    
                    <button class="button button-block" onclick="toDashboard()"/>Log In</button>
                    
                    </form>
          
                  </div>
                  
                </div><!-- tab-content -->
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}

                
          </div> <!-- /form -->


        <script type="text/javascript">

          /*function toDashboard(){
            var email = document.getElementById("emailField").value();
            var pwd = document.getElementById("pwdField").value();
            if(email !== '' && pwd !== ''){
              window.location.href = "createProject.html";
            }
          }*/

            $('.form').find('input, textarea').on('keyup blur focus', function (e) {
  
                var $this = $(this),
                    label = $this.prev('label');

                    if (e.type === 'keyup') {
                            if ($this.val() === '') {
                        label.removeClass('active highlight');
                        } else {
                        label.addClass('active highlight');
                        }
                    } else if (e.type === 'blur') {
                        if( $this.val() === '' ) {
                            label.removeClass('active highlight'); 
                            } else {
                            label.removeClass('highlight');   
                            }   
                    } else if (e.type === 'focus') {
                    
                    if( $this.val() === '' ) {
                            label.removeClass('highlight'); 
                            } 
                    else if( $this.val() !== '' ) {
                            label.addClass('highlight');
                            }
                    }

                });

                $('.tab a').on('click', function (e) {
                
                e.preventDefault();
                
                $(this).parent().addClass('active');
                $(this).parent().siblings().removeClass('active');
                
                target = $(this).attr('href');

                $('.tab-content > div').not(target).hide();
                
                $(target).fadeIn(600);
                
                });
        </script>

    </body>
</html>