
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<script>
<textarea rows="25" cols="200" maxlength="100">
Website
</textarea>
</head>
</script>
<body bgcolor="white" style="text-align:justify;">
<font size="6"><h1 STYLE="background-color:white;text-align:center;color:red;">MENU</h1></font>
<h2 STYLE="background-color:white;">
&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<font size="5"><a href="/collections/daily-deals" STYLE="background-color:white;color:red;">Daily Deal</a>
&nbsp
<a href="/collections/new-arrivals" STYLE="background-color:white;color:red;">New Arrivals</a>
&nbsp
<a href="/collections/rs-99-below" STYLE="background-color:white;color:red;">Rs.99 & Below</a>
&nbsp
<a href="/collections/men" STYLE="background-color:white;color:red;">Men</span></a>
&nbsp
<a href="/collections/women" STYLE="background-color:white;color:red;">Women</a>
&nbsp
<a href="/collections/sales" STYLE="background-color:white;color:red;">Sale</a>
&nbsp
<a href="/collections/b-quality" STYLE="background-color:white;color:red;">Minor Fault</a>
&nbsp
<a href="/pages/contact-us-1" STYLE="background-color:white;color:red;">Contact Us <span class="right icon-down-arrow"></span></a>
&nbsp
<a href="/account/login" id="customer_login_link" STYLE="background-color:black;color:red;">Login</a>
</font></h2><br><br><br><br><br>
<a href="d1"><img src="images.jpg" width="300" height="250"  align="left"></a>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="d2"><img src="pantShirt.jpg" width="300" height="250"  align="middle"></a>
<a href="d3"><img src="watch.jpg" width="300" height="250"  align="right"></a>
<br><br><br><br><br><br>
<a href="d4"><img src="makeup.jpg" width="300" height="250"  align="left"></a>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="d5"><img src="shalwarkameez.jpg" width="300" height="250"  align="middle"></a>
<a href="d6"><img src="shoesandbags.jpg" width="300" height="250" align="right"></a>
<br><br><br><br><br><br>
<a href="d7"><img src="tracksuit.jpg" width="300" height="250"  align="left"></a>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="d8"><img src="makeup.jpg" width="300" height="250"  align="middle"></a>
<a href="d9"><img src="images.jpg" width="300" height="250" align="right"></a>
<br><br><br><br><br><br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="d10"><img src="images.jpg" width="300" height="250" title="White flower" alt="Flower" align="middle"></a>

</body>
</html>