{% extends 'base.html' %}

{% block title %}{{item.title}}{% endblock %}
{% block header %}{{item.title}}{% endblock %}

{% block content %}
  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner">
        <div class="col-lg-5">
          <div class="product_slider_img">
            <div id="vertical">
              <div data-thumb="img/product_details/prodect_details_1.png">
                <img src="{{ url_for('static', filename='img/items/'+item.serial+'.png') }}" height="450" width="420" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="s_product_text">
            <h3>{{item.title}}</h3>
            <h2>{{item.price}}</h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span> : {{item.category}}</a>
              </li>
               <li>
                <a class="active" href="#">
                  <span> Color</span> : {{item.color}}</a>
              </li>
              <li>
              </li>
            </ul>


              <div class="add_to_cart">
                  <a href="{{ url_for('during_detail', serial=item.serial) }}" class="btn_3">add to cart</a>
                <br>

              </div>
              <div class="add_to_cart">
              <a href="{{url_for('category.blank_category_page')}}" class="btn_3">Order more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->

  <!--================Product Description Area =================-->


  <!-- shipping details part end-->
{% endblock %}